/* Copyright 2018 Tecnativa - Jairo Llopis
   Copyright 2019 Tecnativa - Alexandre Díaz
 * License LGPL-3.0 or later (https://www.gnu.org/licenses/lgpl). */

.s_event_calendar_list {
    .event_title {
        border: 0 solid $table-border-color;
        border-bottom-width: 1px;
    }

    .s_event_calendar {
        .bootstrap-datetimepicker-widget {
            width: 100%;
        }

        .day:not(.active):not(:hover):not(.disabled) {
            background-color: $cyan;
            border-radius: 1em;
        }
    }

    .category::before {
        content: "| ";
    }
}
